[project]
name = "homepage"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "mkdocs>=1.6.1",
    "mkdocs-dracula-theme>=1.0.8",
    "mkdocs-pdf-export-plugin>=0.5.10",
]
